[submodule "apps/aws"]
	path = apps/aws
	url = https://github.com/PhitNest/aws.git
[submodule "apps/mobile"]
	path = apps/mobile
	url = https://github.com/PhitNest/mobile.git
[submodule "packages/api"]
	path = packages/api
	url = https://github.com/PhitNest/api.git
[submodule "packages/cognito-hooks"]
	path = packages/cognito-hooks
	url = https://github.com/PhitNest/cognito-hooks.git
[submodule "packages/typescript-core"]
	path = packages/typescript-core
	url = https://github.com/PhitNest/typescript-core.git
[submodule "scripts/aws-config-to-dart"]
	path = scripts/aws-config-to-dart
	url = https://github.com/PhitNest/aws-config-to-dart.git
